name: deploy to cloudflare workers

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun ci

      - name: Run tests
        run: bun run test

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun ci

      - name: import cloudflare secrets
        uses: hashicorp/vault-action@v3
        with:
          url: https://vault.dukda.com
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            secrets/data/cloudflare *

      - name: import runtime secrets
        uses: hashicorp/vault-action@v3
        with:
          url: https://vault.dukda.com
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            secrets/data/blog *

      - name: Generate Secrets JSON
        run: |
          cat <<EOF > secrets.json
          {
            "BETTER_AUTH_SECRET": "$BETTER_AUTH_SECRET",
            "BETTER_AUTH_URL": "$BETTER_AUTH_URL",
            "ADMIN_EMAIL": "$ADMIN_EMAIL",
            "GITHUB_CLIENT_ID": "$GITHUB_CLIENT_ID",
            "GITHUB_CLIENT_SECRET": "$GITHUB_CLIENT_SECRET",
            "CLOUDFLARE_ZONE_ID": "$CLOUDFLARE_ZONE_ID",
            "CLOUDFLARE_PURGE_API_TOKEN": "$CLOUDFLARE_PURGE_API_TOKEN",
            "DOMAIN": "$DOMAIN"
          }
          EOF

      - name: Deploy to Cloudflare Workers
        run: |
          bunx wrangler secret bulk secrets.json
          bun run build
          bun run deploy

      - name: Purge Cloudflare CDN Cache
        run: |
          echo "Purging CDN cache for $DOMAIN"
          curl -s -X POST "https://api.cloudflare.com/client/v4/zones/$CLOUDFLARE_ZONE_ID/purge_cache" \
            -H "Authorization: Bearer $CLOUDFLARE_PURGE_API_TOKEN" \
            -H "Content-Type: application/json" \
            --data '{"prefixes":["'$DOMAIN'"]}'
          echo ""
